body {
    background-color:rgb(50, 49, 49); 
}

h1 {
    color:rgb(208, 160, 254);

}

h2, h3 {
    color:rgb(47, 174, 209)
}


.steak {
  color: white;
  margin: 20px;
  padding: 20px;
}

a:hover {
    color: rgb(208, 160, 254);
}

img {
    float: left;
    max-width: 120px;
    height: auto;
    margin-right: 12px;
}

p {
    color:aquamarine
}

a {
    color:aquamarine
}

div {
    margin:auto;
  }

